// Categories menu =================
.all-categories-menu-title {
  color: rgba(17, 17, 17, 0.6);
    font-family: DM Sans;
    font-size: 16px;
    width: 327px;
    font-size: 18px;
    padding-left: 4px;
    padding-bottom: 32px;
}

.select {
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  width: 327px;
  height: 228px;

  list-style: none;
  padding: 0;
  // margin-top: 40px;
  margin-right: auto;
  // margin-bottom: 40px;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .select {
    width: 329px;
    height: 472px;
    gap: 32px;
  }
}
@media only screen and (min-width: 1158px) {
  .select {
    width: 348px;
  }
}
.select::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}

.select::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.select::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e0e0e0;
}
.select::-webkit-scrollbar-thumb:hover {
  background: #aeadad;
}
@media only screen and (min-width: 768px) {
  .select::-webkit-scrollbar {
    height: 167px;
  }
}

.select-text {
  color: rgba(17, 17, 17, 0.6);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
  cursor: pointer;
}

// .select-text:hover,
// .select-text:focus {
//   color: #4f2ee8;
//   text-transform: uppercase;
// }
@media only screen and (min-width: 768px) {
  .select-text {
    font-size: 18px;
  }
}

// Category of books ===============

.title-category {
  display: block;
  min-width: 335px;
  text-align: left;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}
// .grey {
//   color: rgb(17, 17, 17);
// }

// .blue {
//   color: rgb(79, 46, 232);
// }
@media only screen and (min-width: 768px) {
  .title-category {
    // min-width: 768px;
    font-size: 48px;
    line-height: 1.92;
    letter-spacing: -1.92px;
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 335px;
  gap: 40px;
  overflow: hidden;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .wrap {
    justify-content: center;
    align-items: stretch;
    min-width: 704px;
    row-gap: 40px;
    column-gap: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrap {
    column-gap: 24px;
  }
}
.book-card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 335px;
  height: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  cursor: pointer;
  outline: transparent;
}

// .book-card:hover,
// .book-card:focus {
//   outline: transparent;
//   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
//     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
// }

@media only screen and (min-width: 768px) {
  .book-card {
    width: 218px;
    height: 366px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card {
    width: 180px;
    height: 306px;
  }
}
.book-img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 485px;
}
.cover {
  display: block;
  width: 335px;
  height: 485px;
  border-radius: 8px;
  object-fit: cover;
  background-color: lightgray -4.635px -16px / 102.522% 106.839%;
  background-repeat: no-repeat;
  outline: transparent;
}
@media only screen and (min-width: 768px) {
  .cover {
    width: 218px;
    height: 316px;
  }
  .book-img {
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  .cover {
    width: 180px;
    height: 256px;
  }
  .book-img {
    width: 180px;
    height: 256px;
  }
}

.quick-view {
  position: absolute;
  width: 100%;
  height: 70px;

  padding: 26px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  background: #eac645;

  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  text-align: center;

  // overflow-y: auto;
  opacity: 0;
  // bottom: 50px;
  // top: 50%;
  // left: 50%;
  bottom: 0;
  transform: translate(0, 50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-img:hover .quick-view,
.book-img:focus .quick-view {
  transform: translate(0, 0);
  opacity: 1;
}

.book-info {
  display: flex;
  height: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  // margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
  .book-info {
    width: 180px;
  }
}
.title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
@media only screen and (min-width: 1440px) {
  .title {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

// .quick-view {
//   position: absolute;
//   // bottom: 50px;
//   display: flex;
//   width: 100%;
//   height: 70px;
//   padding: 0px 52px;
//   justify-content: center;
//   align-items: center;
//   border-radius: 0px 0px 8px 8px;
//   background: #eac645;

//   color: #111;
//   font-family: DM Sans;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 1.29;
//   letter-spacing: -0.56px;
//   text-transform: uppercase;

//   overflow-y: auto;
//   // bottom: 0;
//   // left: 0;
//   bottom: 50px;
//   transform: translate(0, 100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   // transform: translateY(70px);
//   // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   // opacity: 0;
// }

// .cover:hover .quick-view,
// .cover:focus .quick-view {
//   transform: translate(0, 0);
// }

// .book-card:hover,
// .book-card:focus {
//   outline: transparent;
//   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
//     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
// }

// .quick-view:hover,
// .quick-view:focus {
//   // transform: translate(0, 100%);

//   transform: translateY(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   opacity: 1;
// }

// .card {
//   display: block;
//   transition: box-shadow var(--transition-duration-and-func);
// }
// .card:hover,
// .card:focus {
//   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
//     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
//   outline: transparent;
// }
// .card-box {
//   position: relative;
//   overflow: hidden;
// }
// .duo-card {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   overflow-y: auto;
//   top: 0;
//   left: 0;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.5;
//   letter-spacing: 0.02em;
//   color: var(--color-cloud);
//   background-color: var(--color-iris);
//   padding: 40px 32px 0 32px;
//   transform: translate(0, 100%);
//   transition: transform var(--transition-duration-and-func);
// }
// .card:hover .duo-card,
// .card:focus .duo-card {
//   transform: translate(0, 0);
// }
