// Categories menu =================

.select {
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  width: 327px;
  height: 186px;

  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .select {
    width: 329px;
    height: 416px;
    gap: 32px;
  }
}
@media only screen and (min-width: 1158px) {
  .select {
    width: 348px;
  }
}
.select::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}

.select::-webkit-scrollbar-track {
  background: #f6f6f6;
}

.select::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e0e0e0;
}
.select::-webkit-scrollbar-thumb:hover {
  background: #aeadad;
}
@media only screen and (min-width: 768px) {
  .select::-webkit-scrollbar {
    height: 167px;
  }
}

.select-text {
  color: $color-black;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-transform: none;
  cursor: pointer;
}

.select-text:hover,
.select-text:focus {
  color: $color-violet;
  text-transform: uppercase;
}

.all {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $color-violet;
  text-transform: uppercase;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
  cursor: pointer;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

.all:hover,
.all:focus {
  color: #4f2ee8;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .select-text {
    font-size: 18px;
  }
  .all {
    font-size: 18px;
    padding-bottom: 32px;
  }
}

// Category of books ===============

.title-category {
  display: block;
  // justify-content: flex-start;
  // align-items: flex-end;
  width: 335px;
  text-align: left;
  color: #111;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.last-word {
  color: rgb(79, 46, 232);
}

@media only screen and (min-width: 768px) {
  .title-category {
    // justify-content: ;
    width: 704px;
    font-size: 48px;
    line-height: 1.92;
    letter-spacing: -1.92px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .title-category {
    min-width: 996px;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 335px;
  gap: 40px;
  overflow: hidden;
  background-image: url(../images/icons.svg#book-4);

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .wrap {
    justify-content: center;
    align-items: stretch;
    min-width: 704px;
    row-gap: 40px;
    column-gap: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrap {
    column-gap: 24px;
  }
}
.book-card {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 335px;
  height: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  cursor: pointer;
  background-image: url(../images/icons.svg#book-3);
  outline: transparent;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .book-card {
    width: 218px;
    height: 366px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card {
    width: 180px;
    height: 306px;
  }
}
.book-img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 335px;
  height: 485px;
}
.cover {
  display: block;
  width: 335px;
  height: 485px;
  border-radius: 8px;
  object-fit: cover;
  background-repeat: no-repeat;
  outline: transparent;
}
@media only screen and (min-width: 768px) {
  .cover {
    width: 218px;
    height: 316px;
  }
  .book-img {
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  .cover {
    width: 180px;
    height: 256px;
  }
  .book-img {
    width: 180px;
    height: 256px;
  }
}

.quick-view {
  position: absolute;
  width: 100%;
  height: 70px;

  padding: 26px 52px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  background: #eac645;

  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  text-align: center;

  opacity: 0;
  bottom: 0;
  transform: translate(0, 50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-img:hover .quick-view,
.book-img:focus .quick-view {
  transform: translate(0, 0);
  opacity: 1;
}

.book-info {
  display: flex;
  height: 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  // margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
  .book-info {
    width: 180px;
  }
}
.title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
@media only screen and (min-width: 1440px) {
  .title {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-book-4 {
  width: 1.099609375em;
}

.icon-book-3 {
  width: 1.111328125em;
}

.icon-book-2 {
  width: 1.099609375em;
}

.icon-book-1 {
  width: 1.06640625em;
}
// for (var i = 0; i < select.children.length; i++) {
//   select.children[i].onclick = function () {
//     for (var j = 0; j < select.children.length; j++) {
//       select.children[j].style.color = 'rgba(17, 17, 17, 0.6)';
//       select.children[j].style.textTransform = 'none';
//     }
//     this.style.color = 'rgb(79, 46, 232';
//     this.style.textTransform = 'uppercase';
//   };
// }
