
.box {
    display: flex;
    flex-direction: colomn;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: auto;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 335px;
    height: 228px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select-text {
    color: rgba(17, 17, 17, 0.6);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.13;
    letter-spacing: -0.32px;
}

.select-text:hover,
.select-text:focus {
    color: #4f2ee8;
    text-transform: uppercase;
}

.render {
    display: flex;
    flex-direction: column;
    background-color: white;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.title-category {
    color: #111;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: #4f2ee8;
}

.wrap {
    overflow: scroll;

    display: flex;
    flex-wrap: wrap;
    min-width: 375px;
    gap: 40px;
    background-color: lightgray;
    background-image: url('../images/category_absent.png');
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.cover {
    width: 335px;
    height: 485px;
    border-radius: 8px;
    background-image: url('../images/book_absent.png');
    object-fit: cover;
    background-color: lightgray -4.635px -16px / 102.522% 106.839%;
    background-repeat: no-repeat;
    margin-bottom: 14px;
}

.book-info {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 40px;
}

.title {
    color: #111;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin: 0;
}

.author {
    color: #b4afaf;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.48px;
    margin: 0;
}