@import '~node_modules/modern-normalize/modern-normalize.css';

// 
// VARIABLES
// 

// Colors
$color-black: #111111;
$color-black1: #202024;
$color-violet: #4F2EE8;
$color-yellow: #EAC645;
$color-white: #fff;
$color-grey: rgba(0, 0, 0, 0.6);
$color-lightgrey: #B4AFAF;

/* Reset styles start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

/* Reset end */

body {
    font-family: 'DM Sans', sans-serif;
}

// Sections
.main {}

.shoppinglist {}

// Common
.container {
    padding-right: 20px;
    padding-left: 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

// Wrappers
.main-menu-wrapper {}

.shoppinglist-wrapper {}