.header-container {
    display: flex;
    align-items: center;

    max-width: 100%;
    min-width: 320px;
    height: 28px;

    padding: 18px 20px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid $color-black;
    background: $color-white;
}
@media only screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;

        max-width: 100%;
        min-width: 768px;
        height: 72px;

        padding: 14px 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-container {
        display: flex;
        align-items: center;

        
        max-width: 1440px;
        height: 72px;

        padding: 14px 24px;
    }
}

.header-container-logo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .header-container-logo-link {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-container-logo-link {
        margin-right: 76px;
    }
}

.header-container-logo-bookshelf {
    fill: $color-black;
}

.header-nav {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header-nav {
        display: block;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1440px) {
    .header-nav {
        display: block;
        margin-right: auto;
    }
}

.header-nav-link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.header-nav-link.current {
    background-color: $color-yellow;
    padding: 8px 16px;
    border-radius: 36px;
}

.header-nav-shopping-cart {
    fill: $color-black;
}


.header-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;


}

.header-nav-item.current {
        background-color: $color-yellow;
        color: $color-black;
        padding: 8px 16px;
        border-radius: 36px;
    }
.toggle-container {}

.label-switch {}

.toggle-switch {}

.switch-slider {}

.header-login-box {
    display: none;
}

@media only screen and (min-width: 768px) {   
    .header {
        &-buttons {
            position: relative;
        }
        &-login-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 184px;
            height: 45px;
            flex-shrink: 0;
            padding: 8px 12px;
            border-radius: 36px;
            border: none;
            background: $color-violet;

            &.login-btn {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.28;
                color: $color-white;
                border-radius: 18px;
                border: 1.5px solid $color-black;
            }
        }

        &-logout-btn {
            display: flex;
            justify-content: space-between;
            width: 184px;
            height: 48px;
            border-radius: 18px;
            border: 1.5px solid $color-black;
            background: $color-white;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.56px;
            padding: 14px;
            position: absolute;
            bottom: -48px;
        }

        &-login-name {
            color: $color-white;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -0.44px;
        }

        &-login-arrow {
            fill: $color-white;
        }

        &-user-pic {
            border-radius: 50%;
        }
    }
}

.header-burger-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;
    padding: 0;
    border: none;

    background-color: transparent;

}

@media only screen and (min-width: 768px) {
    .header-burger-menu-btn {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .header-burger-menu-btn {
        display: none;
    }
}

.header-burger-menu-icon {
    stroke: $color-black;
}

.header-burger-menu-icon:hover,
.header-burger-menu-icon:focus {
    stroke: $color-violet;
}

// Toggle styles
.toggle-container {
    margin-right: 24px;

}

.label-switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: brown;
    border-radius: 36px;

    background: linear-gradient(to bottom, #4F2EE8, #DCDCDC);
}

.toggle-switch {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch-slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 1px;
    bottom: 1px;
    top: 1px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.toggle-switch:checked+.switch-slider::before {
    transform: translateX(20px);
}