
body.modal-open {
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.book-card-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 335px;
  max-height: 90vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;

  overflow: scroll;
  background-color: $color-white;
  border: solid 2px $color-black;
  border-radius: 20px;
}
.close-modal-btn {
  position: fixed;
  top: 5;
  right: 5;

  display: flex;
  align-items: center;

  width: 36px;
  height: 36px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-modal-icon {
  width: 100%;
  height: 100%;
  fill: $color-black;
}

.modal-wrapper {

  font-weight: 400;
  
}

.modal-titles {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin-bottom: 17px;
}

.modal-book-img {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;

  border-radius: 10px;
}

.modal-book-name {
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
}

.modal-book-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;

  color: $color-lightgrey;
}

.modal-book-description {
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 24px;
}

.list-partners {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;}

  .shop-item-partners{
  filter: grayscale(100%);
}



.js-add {
  width: 289px;
  height: 46px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.28;
  text-transform: uppercase;
  color: $color-black;
  background-color: transparent;
  border-radius: 50px;
  border: solid 2px $color-violet;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-add:hover,
.js-add:focus {
    background-color: $color-violet;
    color: $color-white;
}

@media screen and (min-width: 768px) and (min-height:495px) {
  .book-card-modal {
      overflow: hidden;
      width: 579px;
      min-height: 465px;
      max-height: 500px;
      padding: 40px;
  }

  .close-modal-icon {
    width: 20px;
    height: 20px;
    transition: fill 500ms cubic-bezier(0.215, 0.610, 0.355, 1) ;
}

.close-modal-btn:hover .close-modal-icon,
.close-modal-btn:focus .close-modal-icon {
    fill: $color-violet;
}
.modal-wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.modal-book-img {
  width: 192px;
  height: 281px;
  margin-bottom: 0;
}

.modal-titles {
  gap: 14px;
  margin-bottom: 24px;
}

.modal-book-name {
  font-size: 24px;
  line-height: 1.16;
}

.modal-book-author {
  font-size: 14px;
  line-height: 1.28;
}

.list-partners {
  transition: filter 500ms ;
}

.modal-partners-link:hover,
.modal-partners-link:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35));
}
   


.js-add {
  width: 449px;
  height: 64px;

  font-size: 18;
  line-height: 1.33;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-add:hover,
.js-add:focus {
  background-color: $color-violet;
  color: $color-white;
}

.modal-congrats-text {
  width: 320px;

  font-size: 12px;
  line-height: 1.16;
}
}