.modal {
  background-color: white;
  width: 579px;
}
.modal-open {
  overflow:hidden;
}
      @media screen and (max-width: 427px) {
        .modal {
          padding-top: 50px;
          width: 90%;
        }
        .modal-close-btn {
          top: 18px;
          right: 18px;
        }
      }
      .modal-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: none;
        background-color: white;
      }
      
      .modal-close-btn:hover,
      .modal-close-btn:focus {
        fill: #4F2EE8;
        
      }
