<div class="footer-container">
  <div class="footer-left">
    <!-- Логотип -->
    <p class="footer-container-logo-link">
      <svg class="" width="24" height="24">
        <use href="./images/icons.svg#icon-logo_website"></use>
      </svg>
      <svg class="footer-container-logo-bookshelf" width="77" height="13">
        <use href="./images/icons.svg#icon-Bookshelf"></use>
      </svg>
    </p>

    <!-- Основная навигация -->
    <!-- <div class="footer-left-nav">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link link" href="./index.html">Home</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link link" href="./shoppinglist.html">
              <span class="footer-span-style">Shopping list</span>
              <svg class="footer-nav-shopping-cart" width="20" height="20">
                <use href="./images/icons.svg#icon-shopping_cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
    <!-- Авторские права -->
    <p class="footer-company-name">
      JuiceDev &copy; 2023 Bookshelf All rights reserved
    </p>
  </div>

  <!-- контакты -->
  <div class="footer center">
    <address class="footer-contacts">
      <ul class="footer-address">
        <li class="footer-address-item">
          <svg class="" width="20" height="20">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <a class="contact-item" href="tel:+380687654321"
            >+380 (68) 765-43-21
          </a>
        </li>
        <li class="footer-address-item map-link">
          <svg class="" width="20" height="20">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <a
            href="https://goo.gl/maps/28qS7DatdnMmZp9Q7?coh=178572&entry=tt"
            class="footer-contact-item"
            target="_blank"
            rel="noopener noreferrer"
            >1678 S. Pioneer Road<br />Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
  </div>

  <!-- Социальные сети -->
  <div class="footer-right">
    <ul class="footer-social">
      <li class="footer-social-item">
        <a
          class="footer-social-link link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="footer-social-link link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a
          class="footer-social-link link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener norefer"
          aria-label="Twitter icon"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="footer-social-item">
        <a
          class="footer-social-link link"
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
