<nav>
  <a href="./index.html">
    <svg class="icon" width="20" height="20">
      <use href="./images/icons.svg#icon-logo_website"></use>
    </svg>
    Bookshelf
  </a>

  <ul>
    <!-- Меню навігації по інших сторінках -->
    <li><a href="">Home</a></li>
    <li>
      <a href=""
        >Shopping list
        <svg class="icon" width="20" height="20">
          <use href="./images/icons.svg#icon-shopping"></use>
        </svg>
      </a>
    </li>
  </ul>

  <ul>
    <!-- Перемикач теми -->

    <!-- <li>
            <a href="">
              <img src="./images/switcher 1.png" alt="icon Switcher"
            /></a>
          </li> -->

    <!-- ostap -->
    <div class="toggle-container">
      <label class="label-swich">
        <input type="checkbox" class="togle-swich" />
        <span class="swich-slider"></span>
      </label>
    </div>
    <!-- ostap end -->

    <!-- Бургер меню -->
    <li>
      <a href="">
        <svg class="icon" width="20" height="20">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </a>
    </li>

    <!-- Регістрація ??? -->
    <!-- <li><a href="">Register</a></li> -->
  </ul>
</nav>
