<div class="header-container">
  <!-- Логотип -->
  <a class="header-container-logo-link link" href="./index.html">
    <svg class="" width="24" height="24">
      <use href="./images/icons.svg#icon-logo_website"></use>
    </svg>
    <svg class="header-container-logo-bookshelf" width="77" height="13">
      <use href="./images/icons.svg#icon-Bookshelf"></use>
    </svg>
  </a>

  <!-- Основная навигация -->
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link current link" href="./index.html">Home</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link link" href="./shoppinglist.html">
          <span class="header-span-style">Shopping list</span>
          <svg class="header-nav-shopping-cart" width="20" height="20">
            <use href="./images/icons.svg#icon-shopping_cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Переключатель темы -->
  <div class="toggle-container">
    <label class="label-switch">
      <input type="checkbox" class="toggle-switch" id="themeToggle" />
      <span class="switch-slider"></span>
    </label>
  </div>

  <!-- Блок логина -->
  <a href="#" class="header-login-box link">
    <img
      src="./images/stephen_icon.png"
      class="header-user-pic"
      alt="User Stepfen"
      width="37"
      height="37"
    />
    <p class="header-login-name">Stepfen</p>
    <svg class="header-login-arrow" width="23" height="26">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </a>

  <!-- Кнопка бургер меню  -->
  <button type="button" class="header-burger-menu-btn">
    <svg class="header-burger-menu-icon" width="28" height="28">
      <use href="./images/icons.svg#icon-burger"></use>
    </svg>
  </button>
</div>
