        <h1 class="shoppingList-title">Shopping <span>List</span></h1>
        <ul class="shoppingList-books">
                <li><p class="shoppingList-text">
                        This page is empty, add some books and proceed to order.
                      </p>
                      <a href="./index.html">
                        <picture>
                          <source srcset="./images/empty-page@2.png 2x" type="image/png" />
                          <img
                            class="shoppingList-img"
                            src="./images/empty-page.png"
                            alt="Book"
                          />
                        </picture>
                      </a></li>
        </ul>